<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes</title>
    <!-- <base href="/2f/"> -->
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>

    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/quizzes.css">
</head>

<body>    
    <script src="/public/js/global.js"></script>
    <script src="/public/js/quizzes.js"></script>
</body>

</html>