<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wardrobe</title>
    <!-- <base href="/2f/"> -->
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-treemap@3.1.0/dist/chartjs-chart-treemap.min.js"></script>
    
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/wardrobe.css">
    <link rel="stylesheet" href="/public/styles/stats.css">
</head>

<body>
    <script src="/public/js/utils.js"></script>
    <script src="/public/js/supabase.js"></script>
    <script src="/public/js/stats.js"></script>
    <script src="/public/js/wardrobe.js"></script>
</body>

</html>