.challenges {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--margin-big);
    gap: var(--gap-big);
}

.challenges .header {
    text-transform: uppercase;
}

.challenges .elements {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--gap-small);
}

.challenges .elements input {
    grid-column: 1;
}

.challenges .elements h3,
.challenges .elements p {
    grid-column: 2;
}