#calendar {
    display: flex;
    flex-direction: column;
    margin-bottom: 8vh;
    gap: 10px;
    overflow: scroll;
}

.calendar-info {
    display: block;
}

.month.header {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    margin-top: 0;
}

::-webkit-scrollbar {
    display: none;
}

.month .item {
    margin-top: 0;
    margin-bottom: var(--margin-medium);
    text-transform: uppercase;
}

.month .item.current {
    color: var(--font-color);
}

.week-scroll-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.days-container {
    display: flex;
    gap: 2px;
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    border: 1px solid var(--grey-focus);
    border-radius: 10px;
    padding-top: 10px;
}

.day-container.sunday {
    background-color: var(--focus-color);
}

.days-container .day-container.selected {
    margin-left: 5px;
    margin-right: 5px;
}

.day-container.selected {
    background-color: var(--green-focus);
    border-color: var(--grey-focus);
    scale: 1.1;
}

.day-header {
    /* font-weight: bold; */
    color: var(--font-color);
}

.day {
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.outfits-container {
    padding: var(--padding-small);
    border-radius: var(--border-radius-medium);
    flex-direction: column;
    gap: var(--gap-small);
}

.outfits-container h2 {
    text-transform: uppercase;
    margin-bottom: 2px;
}

.outfits-container .create-outfit {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    gap: var(--gap-big);
    flex-direction: row-reverse;
}


.outfits-container .create-outfit img {
    width: 40px;
    opacity: 0.8;
}

.outfits-container .create-outfit h4 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: 2px;
    margin-bottom: 0;
}

.outfit {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
    min-height: 100px;
    height: 20vh;
}

.outfit img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.close {
    background-color: transparent !important;
    border: none;
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* .submit.btn {
    position: absolute;
    float: right;
    bottom: 10vh;
    right: 5vw;
} */



/* filters */
.filters-container {
    display: flex;
    flex-direction: column;
}

.filters {
    display: none;
    height: 0;
}

.filters.expanded {
    display: block;
    height: 100%;
}

.filters .submit.btn {
    position: initial;
}

.open {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.filters .form-group span label {
    align-content: center;
    font-size: var(--font-size-label);
    font-variant:
        small-caps;
    font-weight: var(--font-weight-label);
}

.open:hover,
.open:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* challenges */

.challenges-container {
    display: none;
}

.challenges {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: var(--padding-main);
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.challenges>:first-child {
    grid-row: span 5;
    text-transform: uppercase;
}

.challenges.expanded {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: var(--padding-main);
    gap: var(--gap-big);
}

.challenges .elements {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 20px;
    align-items: center;
    gap: 4px;
}


.challenges.expanded .elements {
    grid-template-rows: auto;
}

.challenges .elements input {
    grid-column: 1;
}

.challenges .elements li {
    font-weight: 500;
    grid-column: 2;
}

.challenges li,
.challenges ul {
    margin: 0;
}

.challenges .elements li,
.challenges .elements input[type='checkbox'] {
    max-height: 0;
    opacity: 0;
    transform: scaleY(0);
    transition: max-height 0.6s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.challenges.expanded .elements li,
.challenges.expanded .elements input[type='checkbox'] {
    max-height: 50px;
    opacity: 1;
    transform: scaleY(1);
}

.challenges input[type="checkbox"] {
    width: 0px;
    height: 0px;
    background-color: transparent;
    border: 2px solid transparent;
}

.challenges input[type="checkbox"]::before {
    font-size: 20px;
}

.challenges input[type="checkbox"]:checked {
    background-color: transparent;
    border-color: transparent;
}

.challenges input[type="checkbox"]:checked::before {
    border-color: transparent;
    color: transparent;
}

.challenges.expanded input[type="checkbox"] {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid var(--green-muted);
}

.challenges.expanded input[type="checkbox"]:checked {
    background-color: var(--green-muted);
    border-color: var(--green-muted);
}

.challenges.expanded input[type="checkbox"]:checked::before {
    border-color: var(--green-muted);
    color: white;
}

.quiz-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: var(--focus-color);
    border-radius:
        10px;
    padding: var(--padding-main);
    gap: var(--gap-big);
}

.prev-worn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: var(--padding-small);
    border-radius: var(--border-radius-medium);
    gap: var(--gap-small);
}


.prev-worn-container h4 {
    grid-column: span 2;
    text-transform: uppercase;
}