.quiz-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: var(--focus-color);
    border-radius:
        10px;
    padding: var(--padding-main);
    gap: var(--gap-big);
}

.questions-container {
    padding-top: var(--padding-main);
    padding-left: var(--padding-main);
    padding-right: var(--padding-main);
}

/* .questions-container .close {} */

.questions-container .wrapper {
    display: flex;
    flex-direction: column;
    gap: 25vh;
    height: 80vh;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
}

.questions-container .question-group {
    scroll-snap-align: start;
}

.question-group {
    display: flex;
    flex-direction: column;
}

.question-group p {
    border-bottom: 1px solid var(--grey-focus);
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
    display: flex;
    gap: var(--gap-small);
    justify-content: space-between;
    align-items: center;
}

.question-group p.incorrect i {
    color: var(--red-muted);
}

.question-group p.correct i {
    color: var(--green-muted);
}

.question-group p:first-of-type {
    border-top: 1px solid var(--grey-focus);
}

.question-group:last-child {
    margin-bottom: 50vh;
}

.image-placeholder {
    width: 200px;
    height: 200px;
    align-self: center;
    background-color: var(--green-muted);
    border-radius: var(--border-radius-medium);
    margin-top: 20px;
    margin-bottom: 30px;
}

.progress {
    margin-bottom: 30px;
    border-radius: var(--border-radius-medium);
    height: 20px;
    border: 1px solid var(--green-muted);
}

.progress-bar {
    height: 20px;
    background-color: var(--green-muted);
    border-radius: 8px;
}


.close {
    background-color: transparent !important;
    border: none;
    color: #aaa;
    float: right;
    font-size: 22px;
    font-weight: bold;
}