.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-2);
    margin-top: var(--p-3);
    overflow: scroll;
    margin-bottom: 11vh;
}

.quiz-container {

    grid-column: span 2;
    border-radius: var(--bs-border-radius-lg);
    padding: var(--padding-main);
}

.quiz-container.expanded {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 89vh;
    background-color: transparent;
    padding: var(--p-0);
    transition: all 0.3s;
    background-image: none;
    border: none;
    transform: translateY(-1%);
    padding-left: var(--p-3);
    padding-right: var(--p-3);
    overflow: hidden;
}

.quiz-container .header {
    justify-content: center;
    align-items: center;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.quiz-container .header h3 {
    text-transform: uppercase;
    grid-column: span 4;
}

.quiz-container .header h3 span {
    font-size: 14px;
    text-transform: capitalize;
}

.quiz-container p {
    margin: var(--p-0);
    grid-column: span 6;
}

.quiz-container.expanded .close {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.quiz-container .quiz {
    height: 84%;
    display: flex;
    flex-direction: column;
}

.dashboard-container .questions-container h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--p-2);
    padding-bottom: var(--p-2);
}

.questions-container .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40vh;
    height: 80vh;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
}

.questions-container .question-group {
    scroll-snap-align: start;
}

.question-group {
    display: flex;
    flex-direction: column;
}

.dashboard-container .question-group h3 {
    margin-bottom: var(--p-4);
    padding-bottom: var(--p-4);
    padding-top: var(--p-4);
}

.question-group p {
    border-bottom: 1px solid var(--bs-secondary-text-emphasis-focus);
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
    display: flex;
    gap: var(--gap-2);
    justify-content: space-between;
    align-items: center;
}

.question-group p.incorrect i {
    color: var(--bs-danger-text-emphasis);
}

.question-group p.correct i {
    color: var(--bs-success-text-emphasis);
}

.question-group p:first-of-type {
    border-top: 1px solid var(--bs-secondary-text-emphasis-focus);
}

.question-group:last-child {
    margin-bottom: 50vh;
}

.progress {
    margin-bottom: var(--p-3);
    border-radius: var(--bs-border-radius-lg);
    height: 20px;
    border: 1px solid var(--bs-success-text-emphasis);
}

.progress-bar {
    height: 20px;
    background-color: var(--bs-success-text-emphasis);
    border-radius: var(--bs-border-radius-sm);
}


.close {
    background-color: transparent !important;
    border: none;
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

#outfit-streak {
    display: flex;
    grid-column: span 1;
    background-image: url('../assets/bg/bg.png');
    background-size: contain;
    align-items: center;
}

#outfit-streak h3 {
    text-align: center;
    max-width: min-content;
}

.unworn-container {
    grid-column: span 3;
    background-color: var(--focus-color);
    padding: var(--padding-small);
    border-radius: var(--bs-border-radius-lg);
}

.clothes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: auto;
    gap: var(--gap-2);
    height: fit-content;
    overflow: hidden;
}

.cards h2 span {
    font-size: 14px;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .icon {
    background-color: var(--focus-color);
    height: 30px;
    width: 30px;
    grid-row: span 3;
    border-radius: var(--bs-border-radius-pill);
}

.sustainability-tips-container,
.challenge-container {
    display: flex;
    flex-direction: column;
    grid-column: span 3;
    /* background-color: var(--focus-color); */
    border-radius: var(--bs-border-radius-lg);
    border: 1px solid var(--bs-secondary-bg);
    padding: var(--padding-main);
    justify-content: center;
}

.sustainability-tips-container h3,
.challenge-container h3 {
    margin-bottom: 0;
    margin-top: 0;
    gap: var(--gap-4);
}

[data-bs-theme='dark'] .challenge-container img {
    filter: invert();
    width: 20px;
    opacity: 0.8;
}

[data-bs-theme='earthy'] .challenge-container img,
[data-bs-theme='light'] .challenge-container img {
    filter: none;
    width: 20px;
    opacity: 0.8;
}

.challenge-container h3 {
    display: flex;
    justify-content: space-between;
}

.dashboard-container {
    border-radius: var(--bs-border-radius-lg);
    border: 1px solid var(--bs-secondary-bg);
    padding: var(--padding-main);
    justify-content: center;
}

.dashboard-container h3 {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.dashboard-container.challenge-container p,
.dashboard-container.chart-container p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.dashboard-container button {
    margin-top: var(--p-3);
    margin-bottom: var(--p-3);
}

.chart-container {
    grid-column: span 3;
    height: min-content;
}

.chart-container>p:nth-child(2) {
    padding-top: 0;
    margin-top: 0;
    color: var(--bs-secondary-text-emphasis-focus);
}

.chart-container .btn {
    background-color: transparent;
    padding: 0;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-size: small;
    color: var(--bs-secondary-text-emphasis-focus);
}

.locked-state {
    grid-column: span 3;
    min-height: min-content;
    flex-direction: row;
    gap: var(--gap-2);
}

.locked-state .locked-link,
.locked-state span {
    margin-top: var(--p-1);
    color: var(--bs-secondary-text-emphasis-focus);
    font-size: small;
}

.locked-state p span {
    display: inline-block;
    margin-top: var(--p-2);
    margin-bottom: var(--p-2);
}

.locked-state i.fa-solid.fa-lock {
    padding-left: var(--p-1);
    font-size: 34px;
}