:root {
    --font-size-label: 14px;
    --font-weight-label: 600;
    --font-size-btn: 14px;
    --padding-btn: 10px 24px;
    --padding-main: 20px;
    --padding-small: 12px;
    --margin-big: 8px;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-pill: 50rem;
    --gap-0: 0;
    --gap-1: calc(1rem*0.25);
    --gap-2: calc(1rem*0.5);
    --gap-3: calc(1rem);
    --gap-4: calc(1rem*1.25);
    --gap-5: calc(1rem*1.5);
    --gap-6: calc(1rem*3);
    --p-0: 0;
    --p-1: calc(1rem*0.25);
    --p-2: calc(1rem*0.5);
    --p-3: calc(1rem);
    --p-4: calc(1rem*1.25);
    --p-5: calc(1rem*1.5);
    --p-6: calc(1rem*3);
}

:root[data-bs-theme='dark'] {
    color-scheme: dark;
    --bs-body-bg: #1e1e1e;
    --bs-secondary-bg: #383838;
    --bs-emphasis-color: #181717;
    --focus-color: #181717;
    --bs-secondary-bg-subtle: #156134;
    --bs-secondary-bg-subtle-hover: #153a24;
    --bs-secondary-text-emphasis: #bdbdbd;
    --bs-secondary-text-emphasis-focus: #8b8b8b;
    --bs-success-text-emphasis: #156134;
    --bs-success-border-subtle: #153a24;
}

/* :root[data-bs-theme='earthy'] {
    color-scheme: light;
    --bs-body-bg: #e9e9e9;
    --bs-secondary-bg: #bbbbbb;
    --bs-emphasis-color: #1d1912;
    --focus-color: #ccd8cd;
    --bs-secondary-bg-subtle: #156134;
    --bs-secondary-bg-subtle-hover: #79a07c;
    --bs-secondary-text-emphasis: #bdbdbd;
    --bs-secondary-text-emphasis-focus: #8b8b8b;
    --bs-success-text-emphasis: #336647;
    --bs-success-border-subtle: #688f77;
} */

button,
input,
optgroup,
select,
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: auto;
}

select {
    background-color: var(--bs-body-bg);
    border: none;
    color: currentColor;
    padding: 10px;
    text-align: left;
    display: inline-block;
    font-size: var(--font-size-btn);
    text-transform: capitalize;
    width: 70vw;
}

#index-main select {
    background-color: var(--focus-color);

}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

body {
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: var(--bs-body-bg);
}

h1 {
    margin-block: 0.67em;
    font-size: 2rem;
}

h2 {
    margin-top: var(--margin-big);
    font-size: 1.6rem;
}

h3 {
    margin-top: var(--margin-big);
    font-size: 1.4rem;
}

h4 {
    margin-top: var(--margin-big);
    font-size: 1.2rem;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.btn {
    background-color: var(--focus-color);
    border: none;
    border-radius: var(--bs-border-radius-lg);
    color: currentColor;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: var(--font-size-btn);
    text-transform: capitalize;
}

.btn:hover {
    background-color: var(--bs-secondary-bg-subtle-hover);
    cursor: pointer;
    transition: 0.5s;
}

.btn.btn-secondary {
    background-color: transparent;
    color: var(--bs-secondary-text-emphasis-focus);
    padding: var(--p-1);
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin-top: var(--margin-big);
    justify-content: center;
    gap: var(--gap-2);
}

.delete.btn {
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--bs-secondary-text-emphasis-focus);
    padding: 10px 10px;
    bottom: 5vh;
}

.delete.btn:hover {
    background-color: transparent;
}

.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close {
    background-color: transparent !important;
    border:
        none;
    color: #aaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.tab-btn {
    background-color: var(--bs-body-bg);
    border: none;
    color: currentColor;
    padding: 6px 12px;
    text-align: center;
    display: inline-block;
    font-size: var(--font-size-btn);
    text-transform: capitalize;
}

.tab-btn:hover {
    background-color: var(--bs-secondary-bg-subtle-hover);
    cursor: pointer;
    transition: 0.5s;
}

.tab-btn.selected {
    border-bottom: 1px solid currentColor;
}

input[type=email],
input[type=password],
input[type=text] {
    background-color: var(--focus-color);
    border: 1px solid var(--bs-secondary-bg);
    color: currentColor;
    padding: var(--padding-btn);
    text-align: left;
    display: inline-block;
    font-size: var(--font-size-btn);
    border-radius: var(--bs-border-radius-lg);
}

input[type=file] {
    display: none;
}

input:focus {
    border: 1px solid var(--bs-secondary-bg-subtle);
}

input:after {
    background-color: var(--focus-color);
    border: 1px solid var(--bs-secondary-bg);
    color: white;
}

input:-webkit-autofill {
    background-color: var(--focus-color) !important;
    box-shadow: inset 0 0 0 32px var(--focus-color) !important;
    -webkit-text-fill-color: white;
}

input:-ms-input-placeholder {
    background-color: var(--focus-color) !important;
}

input[type=date] {
    background-color: var(--focus-color);
    border: 1px solid var(--focus-color);
    padding: var(--padding-btn);
    text-align: left;
    display: inline-block;
    font-size: var(--font-size-btn);
    color: var(--bs-secondary-bg);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--focus-color);
    background-color: var(--focus-color);
    border-radius: var(--bs-border-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

input[type="checkbox"]::before {
    content: "✔";
    font-size: 20px;
    color: transparent;
    transition: color 0.3s ease-in-out;
}

input[type="checkbox"]:checked {
    border-color: var(--focus-color);
}

input[type="checkbox"]:checked::before {
    border-color: var(--focus-color);
    color: var(--focus-color);
}

.side-nav {
    height: 5vh;
    z-index: 1;
    position: sticky;
    right: 0;
}

.side-nav .header {
    display: flex;
    justify-content: start;
    gap: var(--gap-4);
    align-items: baseline;
}

.side-nav.expanded .header {
    padding-left: var(--p-2);
    margin: 8px;
}

.side-nav .header i {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.side-nav ol {
    display: none;
}

.side-nav.expanded ol {
    margin-top: 0;
}

.side-nav.expanded ol {
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    padding-left: 18px;
}

.side-nav li {
    display: flex;
    flex-direction: column;
}

.side-nav li {
    width: max-content;
}

.side-nav li.btn {
    padding-left: 2px;
    background-color: transparent;
}

.side-nav li:hover {
    background-color: transparent;
    border-bottom: 1px solid var(--bs-secondary-bg);
    border-radius: 0;
    transition: none;
}

.side-nav.expanded {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 50vw;
    border: 1px solid var(--bs-secondary-bg);
    border-radius: var(--bs-border-radius-lg);
    background-color: var(--bs-body-bg);
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
}


.fa-solid.fa-bars,
.fa-solid.fa-xmark {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.fa-solid.fa-xmark {
    float: right;
    /* padding-right: var(--p-3); */
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    border-top: 1px solid var(--bs-secondary-bg);
    background-color: var(--bs-body-bg);
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-nav ol {
    list-style: none;
    padding: var(--p-0);
    margin: var(--p-0);
    padding-left: var(--p-5);
    padding-right: var(--p-5);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.bottom-nav li {
    display: inline;
}

.bottom-nav a {
    color: currentColor;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-1);
}

.bottom-nav li {
    width: 50px;
}

[data-bs-theme='dark'] .bottom-nav a img {
    width: 26px;
    height: auto;
    filter: none;
}

[data-bs-theme='earthy'] .bottom-nav a img,
[data-bs-theme='light'] .bottom-nav a img {
    width: 26px;
    height: auto;
    filter: invert();
}

[data-bs-theme='dark'] .bottom-nav a.invert-image img {
    filter: invert();
}

[data-bs-theme='earthy'] .bottom-nav a.invert-image img,
[data-bs-theme='light'] .bottom-nav a.invert-image img {
    filter: none;
}


.bottom-nav i,
.bottom-nav img {
    color: var(--bs-emphasis-color);
    text-decoration: none;
    font-size: 18px;
    width: 18px;
}

.bottom-nav img {
    object-fit: contain;
}

ul {
    list-style: none;
    padding: var(--p-0);
    display: flex;
    flex-direction: column;
    justify-content: left;
}

li {
    display: inline;
    font-weight: 400;
}

.auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.auth-form-container {
    background-color: var(--focus-color);
    padding: var(--p-3);
    display: flex;
    gap: var(--gap-2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--bs-border-radius-lg);
}

.auth-container form {
    display: flex;
    gap: var(--gap-3);
    flex-direction: column;
}

.auth-form-container h2 {
    text-transform: capitalize;
    padding-bottom: var(--p-4);
}

.auth-form-container form div {
    border: 1px solid var(--bs-secondary-bg);
    border-radius: var(--bs-border-radius-lg);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: var(--p-2);
}

.auth-form-container form button {
    margin-top: var(--p-2);
}

.auth-form-container form input[type=email],
.auth-form-container form input[type=password] {
    color: white;
    padding: var(--padding-btn);
    text-align: left;
    display: inline-block;
    font-size: var(--font-size-btn);
}

#sign-in input {
    border: none;
}

.auth-form-container form#sign-up div {
    padding: var(--p-1);
}

.auth-form-container form#sign-up div small {
    color: var(--bs-secondary-bg);
    padding: var(--p-1);
    padding-left: var(--p-3);
    margin: var(--p-1);
}

.auth-form-container form#sign-up input {
    border: 1px solid var(--bs-secondary-bg);
    border-radius: var(--bs-border-radius-lg);
}

.auth-form-container form#sign-up input[id="password"] {
    width: 75%;
    box-shadow: none;
    border: none;
}

.auth-form-container form#sign-in {
    width: 70vw;
}

.auth-form-container p {
    width: 100%;
    font-size: smaller;
    overflow-wrap: break-word;
    white-space: normal;
    word-break: normal;
}

.color.btn {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: var(--bs-border-radius-pill);
    padding: var(--p-0);
    box-shadow: 1px 1px 2px var(--bs-secondary-bg), -1px -1px 2px var(--focus-color);
    font-family: Arial, Helvetica, sans-serif;
}

[data-bs-theme='dark'] .color.btn.selected::after {
    content: "✔";
    color: var(--focus-color);
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-options {
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--bs-body-bg);
    z-index: 10;
    width: 100%;
    grid-column: span 3;
    max-height: 0;
    margin-top: var(--margin-big);
    opacity: 0;
    transform: scaleY(0);
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s;
}

.dropdown-options.open {
    visibility: visible;
    max-height: 100%;
    opacity: 1;
    transform: scaleY(1);
}

.clothing-container {
    height: 74vh;
    overflow: scroll;
}

.clothing-container .btn-container {
    flex-direction: row-reverse;
    position: absolute;
    bottom: 10vh;
    right: 10px;
}

[data-bs-theme='earthy'] .image.fallback,
[data-bs-theme='light'] .image.fallback {
    height: 16dvh;
    object-fit: contain;
    opacity: 70%;
}

[data-bs-theme='dark'] .image.fallback {
    height: 16dvh;
    object-fit: contain;
    opacity: 10%;
}

.form-group.wash,
.form-group.bleach,
.form-group.tumble_dry,
.form-group.natural_dry,
.form-group.iron {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
}

.form-group.wash>:first-child,
.form-group.bleach>:first-child,
.form-group.tumble_dry>:first-child,
.form-group.natural_dry>:first-child,
.form-group.iron>:first-child {
    grid-column: span 8;
}

.form-group.wash>:not(:first-child),
.form-group.bleach>:not(:first-child),
.form-group.tumble_dry>:not(:first-child),
.form-group.natural_dry>:not(:first-child),
.form-group.iron>:not(:first-child) {
    grid-column: span 1;
}

[data-bs-theme='dark'] .form-group.wash .element img.care-label,
[data-bs-theme='dark'] .form-group.bleach .element img.care-label,
[data-bs-theme='dark'] .form-group.tumble_dry .element img.care-label,
[data-bs-theme='dark'] .form-group.natural_dry .element img.care-label,
[data-bs-theme='dark'] .form-group.iron .element img.care-label {
    width: 34px;
    height: auto;
    filter: invert();
}

[data-bs-theme='earthy'] .form-group.wash .element img.care-label,
[data-bs-theme='earthy'] .form-group.bleach .element img.care-label,
[data-bs-theme='earthy'] .form-group.tumble_dry .element img.care-label,
[data-bs-theme='earthy'] .form-group.natural_dry .element img.care-label,
[data-bs-theme='earthy'] .form-group.iron .element img.care-label,
[data-bs-theme='light'] .form-group.wash .element img.care-label,
[data-bs-theme='light'] .form-group.bleach .element img.care-label,
[data-bs-theme='light'] .form-group.tumble_dry .element img.care-label,
[data-bs-theme='light'] .form-group.natural_dry .element img.care-label,
[data-bs-theme='light'] .form-group.iron .element img.care-label {
    width: 34px;
    height: auto;
    filter: none;
}


.form-group.wash .element.selected img.care-label,
.form-group.bleach .element.selected img.care-label,
.form-group.tumble_dry .element.selected img.care-label,
.form-group.natural_dry .element.selected img.care-label,
.form-group.iron .element.selected img.care-label {
    border-bottom: 1px solid var(--bs-secondary-bg);
}

.nav-modal {
    position: fixed;
    bottom: 0;
    right: 0;
    background: var(--focus-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 50vw;
    height: 10vh;
    transform: translate(-50%, -70%);
    border-radius: var(--bs-border-radius-lg);
    flex-direction: column;
    gap: var(--gap-2);
}

.body-block {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.9);
    overflow: hidden;
}

body>:has(.body-block) div#calendar {
    overflow: hidden;
}

.fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
}

#points-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--p-5);
    border-radius: var(--bs-border-radius-lg);
    border: 1px solid var(--bs-secondary-bg);
    width: 50vw;
}

.modal#points-modal {
    top: 25vh;
    left: 0;
    transform: translate(30%, 50%);
}

[data-bs-theme='dark'] #points-modal img.invert-image {
    width: 30px;
    filter: invert();
}

[data-bs-theme='earthy'] #points-modal img.invert-image,
[data-bs-theme='light'] #points-modal img.invert-image {
    width: 30px;
    filter: none;
}

#points-modal h4 {
    margin-top: var(--p-2);
    margin-bottom: var(--p-2);
}

#points-modal p {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: var(--p-1);
    text-align: center;
}

.modal {
    position: absolute;
    background-color: var(--focus-color);
    padding: var(--padding-small);
    border-radius: var(--bs-border-radius-sm);
    top: 50%;
    left: 0;
    transform: translate(0, 50%);
}

.modal-header button.close {
    font-size: 20px;
    position: absolute;
    font-size: 20px;
    right: 4px;
    top: 2px;
}

.modal-footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    gap: var(--gap-4);
    padding-right: var(--p-0);
}

.modal-footer .btn.btn-secondary {
    background-color: transparent;
    color: var(--bs-secondary-text-emphasis-focus);
    padding: var(--p-1);
}

.modal-footer .btn.btn-primary {
    background-color: transparent;
    color: var(--bs-emphasis-color);
    padding: var(--p-1);
}

[data-bs-theme='dark'] ol .care-label {
    width: 34px;
    height: auto;
    filter: invert();
}

[data-bs-theme='earthy'] ol .care-label,
[data-bs-theme='light'] ol .care-label {
    width: 34px;
    height: auto;
    filter: none;
}

.locked-state {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 25vh;
    padding: var(--p-3);
    border-radius: var(--bs-border-radius-lg);
    border: 1px solid var(--bs-secondary-bg)
}

.locked-state i.fa-solid.fa-lock {
    font-size: 64px;
}

.locked-state p {
    padding-left: var(--p-3);
    padding-right: var(--p-3);
    margin-top: 0;
    margin-bottom: 0;
}

.locked-state .locked-link {
    display: flex;
    flex-direction: row;
    margin-top: var(--p-4);
    align-items: end;
    gap: var(--gap-2);
    color: currentColor;
    text-underline-offset: 2px;
}

.locked-state .locked-link img {
    width: 26px;
}

[data-bs-theme='dark'] .locked-state a.invert-image img {
    width: 30px;
    filter: invert();
}

[data-bs-theme='earthy'] .locked-state a.invert-image img,
[data-bs-theme='light'] .locked-state a.invert-image img {
    width: 30px;
    filter: none;
}

[data-bs-theme='dark'] .locked-state a.invert-image {
    align-items: center;
}

.main-placeholder {
    display: flex;
    border-radius: var(--bs-border-radius-lg);
    border: 1px solid var(--bs-secondary-bg);
    min-height: 100px;
    height: 20vh;
    align-items: baseline;
    padding-left: var(--p-3);
    padding-right: var(--p-3);
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.main-placeholder button {
    width: 40vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-end;
    background-color: transparent;
    gap: var(--gap-2);
    align-self: first baseline;
    padding: 0;
}

.main-placeholder span {
    text-align: center;
    transform: translateY(-6px);
    text-decoration: underline;
    text-underline-offset: 2px;
}

[data-bs-theme='dark'] .main-placeholder button img {
    height: 24px;
    width: auto;
    opacity: 0.3;
    filter: none;
}

[data-bs-theme='earthy'] .main-placeholder button img,
[data-bs-theme='light'] .main-placeholder button img {
    height: 24px;
    width: auto;
    opacity: 0.7;
    filter: invert();
}


[data-bs-theme='dark'] .main-placeholder .add-care-btn img {
    filter: invert();
}

[data-bs-theme='earthy'] .main-placeholder .add-care-btn img,
[data-bs-theme='light'] .main-placeholder .add-care-btn img {
    filter: none;
}

[data-bs-theme='dark'] .main-placeholder.invert-image img {
    width: 60px;
    filter: invert();
}

[data-bs-theme='earthy'] .main-placeholder.invert-image img,
[data-bs-theme='light'] .main-placeholder.invert-image img {
    width: 60px;
    filter: none;
}

.wardrobe-container .main-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wardrobe-container .main-placeholder {
    text-align: center;
}

#logged-side-nav {
    display: flex;
    flex-direction: column;
}

#logged-side-nav.side-nav.expanded .header,
#main-side-nav.side-nav.expanded .header {
    flex-direction: row-reverse;
    justify-content: space-between;
}

#index-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 93vw;
    margin: var(--p-2);
}

#index-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
    width: 96vw;
    overflow-x: hidden;
    margin-bottom: 10vh;
}

#index-section h2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

#index-section p.index-p {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* #index-section div {
    display: flex;
    flex-direction: row;
    gap: var(--p-2);
    justify-content: center;
    align-content: center;
    border-radius: var(--bs-border-radius-lg);
    border: 1px solid var(--bs-secondary-bg);
    width: 96%;
    align-items: center;
} */

.repeat {
    display: flex;
    flex-direction: row;
}

#index-section ol.repeat-li {
    width: max-content;
    display: inline-flex;
    flex-direction: row;
    gap: var(--gap-4);
    animation: scroll-x 20s linear infinite;
}

#index-section ol.repeat-li::after {
    content: attr(data-duplicate);
    display: flex;
    gap: var(--gap-4);
}

#index-section ol.repeat-li li {
    border-bottom: none;
    font-weight: 400;
    opacity: 0.1;
    text-transform: uppercase;
    font-size: small;
    width: max-content;
}

@keyframes scroll-x {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#index-section ol {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: auto;
    gap: var(--gap-1);
    width: 100%;
}

#index-section li {
    border-bottom: 1px solid var(--bs-secondary-bg);
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
    display: flex;
    gap: var(--gap-2);
    justify-content: space-between;
    align-items: center;
}


#why-us,
#how {
    display: flex;
    flex-direction: column;
    gap: var(--p-2);
    width: 96%;
}

#why-us div,
#how div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-2);
    width: 96%;
    height: 42vh;
}

#why-us .index-img,
#how .index-img {
    height: 40vh;
    object-fit: contain;
    object-position: center 10%;
    border: 1px solid var(--bs-secondary-bg);
    position: absolute;
}

#why-us img.index-img#left,
#how img.index-img#left {
    transform: translateX(-15%) rotateZ(-10deg);
}

#why-us img.index-img#right,
#how img.index-img#right {
    transform: translateX(15%) rotateZ(10deg);
}

#index-section #why-us h3 {
    position: absolute;
}

#ready button {
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 4px;
    padding-left: 0;
}