.body {
    overflow: clip;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90%;
    overflow: auto;
    background-color: #161515;
}

.modal-content {
    margin: 15% auto;
    padding: var(--padding-main);
    border: 1px solid var(--bs-secondary-text-emphasis-focus);
    width: 80%;
}

.create-outfit-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: var(--bs-border-radius-lg);
    padding: var(--padding-main);
    gap: var(--gap-4);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-self: baseline;
    gap: var(--gap-4);
    padding-top: var(--padding-small);
    overflow: scroll;
    height: 80vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.form-part.hidden {
    display: none;
}

.form-group label {
    align-content: center;
    font-size: var(--font-size-label);
    font-variant: small-caps;
    font-weight: var(--font-weight-label);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-group {
    margin-top: var(--margin-big);
    margin-bottom: var(--margin-big);
}

.form-group label .btn {
    padding: 0;
}

.form-group .close {
    font-size: 20px;
    font-weight: var(--font-weight-label);
}

.toggle.btn {
    background-color: transparent !important;
    border: none;
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    gap: var(--gap-2);
    font-weight: var(--font-weight-label);
}

.form-group.image {
    /* margin-top: 20px; */
    border-radius: var(--bs-border-radius-xl);
}

.form-group.image label {
    display: none;
}

.form-group.image img {
    border-radius: var(--bs-border-radius-xl);
    height: 200px;
    width: 100%;
    object-fit: contain;
    width: 100%;
    opacity: 0.2;
}

.form-group.image img.preview {
    opacity: 1;
    object-fit: cover;
}

.form-group.brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-group.brand label {
    display: none
}

.form-group.brand input {
    width: 100%;
}

.form-container .form-group.category>:first-child,
.form-container .form-group.occasion>:first-child,
.form-container .form-group.origin>:first-child,
.form-container .form-group.colour>:first-child,
.form-container .form-group.season>:first-child {
    margin-bottom: var(--margin-big);
}

.form-container .form-group.category>:not(:first-child),
.form-container .form-group.occasion>:not(:first-child),
.form-container .form-group.origin>:not(:first-child) {
    text-align: center;
    gap: var(--gap-2);
}

.form-container .form-group.category .element,
.form-container .form-group.occasion .element,
.form-container .form-group.origin .element {
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid var(--focus-color);
    border-radius: var(--bs-border-radius-lg);
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 2px var(--bs-secondary-bg), -1px -1px 2px var(--focus-color);
    /* background-color: var(--focus-color); */
}

.form-container .form-group.category .element.selected,
.form-container .form-group.occasion .element.selected,
.form-container .form-group.origin .element.selected {
    border: 1px solid var(--bs-emphasis-color);
    box-shadow: inset 1px 1px 12px var(--focus-color), inset -1px -1px 12px var(--focus-color);
}


.form-group.colour {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: var(--gap-2);
    justify-content: space-evenly;
    align-content: space-evenly;
}

.form-group.colour>:first-child {
    grid-column: span 13;
}

.form-group.colour .element[name="white"] .color.btn.selected::after {
    color: rgb(61, 61, 61);
}

.form-group.season {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.form-group.season>:first-child {
    grid-column: span 2;
}

.form-group.season>:not(:first-child) {
    grid-column: span 1;
}

.form-group.season .checkbox-wrapper label {
    font-size: var(--font-size-label);
    font-variant: normal;
    font-weight: 400;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: var(--gap-3);
}

.clothing-list.item-container input[type="checkbox"] {
    background-color: var(--bs-emphasis-color);
    border-color: var(--bs-secondary-bg);
    border-radius: var(--bs-border-radius-sm);
    grid-column: span 1;
    align-self: safe;
}

.wardrobe-container {
    padding-bottom: 8vh;
    height: auto;
    margin-bottom: 11vh;
    align-content: baseline;
}

.wardrobe.item-container [type="checkbox"]::before {
    font-size: 12px;
    margin-left: 3px;
}

.form-group.colour .element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-2);
}

.form-group.colour .element label {
    align-content: center;
    font-size: 12px;
    font-variant: normal;
    font-weight: 300;
    display: flex;
    flex-direction: row;
}

.form-container:last-child {
    padding-bottom: 7vh;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-3);
    height: fit-content;
    align-items: baseline;
}

.header h3,
.header div {
    margin-bottom: 0px;
}

.header h3 {
    grid-column: span 2;
}

.header .btn-container {
    justify-self: end;
    height: min-content;
    flex-direction: row-reverse;
}

.header .delete.btn {
    position: absolute;
    bottom: 6vh;
}

.header .filters {
    height: 50vh;
    overflow-y: scroll;
}

.edit.btn {
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--bs-secondary-text-emphasis-focus);
    padding: 2px;
}

.filter.btn {
    background-color: transparent;
    color: var(--bs-secondary-text-emphasis-focus);
    border-radius: var(--bs-border-radius-sm);
    padding: 2px;
}

.clothing-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: var(--gap-2);
    margin-top: 1vh;
    overflow-y: scroll;
    overflow-x: hidden;
    align-content: baseline;
    justify-content: start;
}

.outfits-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.form-group.image,
input[type=email],
input[type=password],
input[type=text] {
    box-shadow: 1px 1px 2px var(--bs-secondary-bg), -1px -1px 2px var(--focus-color);
    background-color: var(--bs-body-bg);
}

.mini.modal .close.btn {
    margin-right: 10px;
    margin-top: 10px;
}

.clothing-formContainer {
    visibility: hidden;
    height: 90vh;
}

.clothing-formContainer .btn-container.bottom {
    display: flex;
    position: relative;
    /* bottom: 8vh; */
    justify-content: flex-end;
}

.clothing-formContainer input[type="checkbox"]::before {
    font-size: 12px;
}

.clothing-formContainer input[type="checkbox"]:checked::before {
    border-color: var(--focus-color);
    color: white;
}

.delete.btn {
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--grey-focus);
    padding: 10px 10px;
    position: absolute;
    bottom: 6vh;
    right: 14vh;
    width: 100px;
}

.submit.btn {
    position: absolute;
    bottom: 6vh;
    width: 100px;
    right: 2vh;
}

.delete.btn:hover {
    background-color: transparent;
}

.clothing-formContainer .close {
    position: absolute;
    float: none;
    top: 4vh;
    right: 10px;
}